/*-- scss:defaults --*/

// fonts

$font-family-sans-serif: "Crimson Text" !default;
$presentation-font-size-root: 45px;
$presentation-font-smaller: 45px;
$presentation-heading-font: "Crimson Text" !default;
$presentation-h2-font-size: 45px;


// colors
$body-bg: #FFFFFF !default;
$body-color: #000 !default;
$link-color: #18bc9c !default;
$selection-bg: #26351c;

// css (first test element neccessary as it ignores the first one)

.test {
  font-size: 45px !important;
  font-style: italic;
  text-align: center;
  padding-bottom: 30px;
}

.title {
  font-size: 65px !important;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 45px !important;
  font-style: italic;
  text-align: center;
  padding-bottom: 30px;
}

.author {
  font-size: 45px !important;
  text-align: center;
}

.media {
  font-size: 35px !important;
  text-align: center;
}

.small {
  font-size: 90% !important;
}

.tiny {
  font-size: 85% !important;
}

.footnotesize {
  font-size: 60% !important;
}

.large {
  font-size: 110% !important;
}

.huge {
  font-size: 120% !important;
}

.discussion{

  font-size: 200% !important;
  text-align: center;
  color: #c3c377;

}

.exercise{

  font-size: 200% !important;
  text-align: center;
  color: #c03728;

}


.reveal h1 {
    position: fixed;
    top: 0;
    left: 0;
}


.yellow {

  color: #f5c04a;
}

.orange {

  color: #fd8f24;
}

.red {

  color: #c03728;
}

.pink {

  color: #e68c7c;
}

.green {

  color: #c3c377;
}

.grey {

  color: #ced4d3;
}


.blue {

  color: #3728c0;
}







/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

$web-font-path: "https://fonts.googleapis.com/css?family=Crimson Text" !default;
@if $web-font-path {
  @import url($web-font-path);
}